body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}
body,
html {
  background: #f5f5f5;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #000;
}
.header {
  border-bottom: 1px solid #e5e5e5;
  font-size: 3.7vw;
  height: 11vw;
  width: 100vw;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.header .navImg {
  width: 25vw;
  height: 7vw;
  background: url("../../images/navimg.png") no-repeat;
  background-size: cover;
}
.header .search {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background: #fff;
  height: 7vw;
  width: 50vw;
  color: #666;
  line-height: 7vw;
}
.header .search img {
  width: 4vw;
  height: 4vw;
  display: inline-block;
  margin: 0 2vw;
}
.header .adress img {
  height: 1.5vw;
  width: 2vw;
  margin-left: 1vw;
}
.footer {
  display: flex;
  align-items: center;
  font-size: 3.2vw;
  height: 13.9vw;
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: #4a4b5b;
}
.footer img {
  width: 5.5vw;
  height: 5.5vw;
  margin-bottom: 1vw;
}
.footer div:nth-child(3) {
  position: relative;
  top: -3vw;
}
.footer div:nth-child(3) img {
  width: 11vw;
  height: 11vw;
}
.footer div:nth-child(3) .imgWrap {
  background: #fff;
  width: 13vw;
  height: 13vw;
  border-radius: 50vw;
  line-height: 13vw;
  margin: 0 auto;
}
.footer div {
  text-align: center;
  width: 20vw;
}
.footer .red {
  color: #e9474d;
}
